
#title{
  background-color: #DEBACE;
  font-family: 'Kalam', cursive;
  text-align:center;
}
#features{
  font-family: 'Kalam', cursive;
  text-align:center;
  padding:7% 15%;
}
/* .upper-star{
  position: absolute;
  top:9.5rem;
  right:31.875rem;
}
h1{
 font-family: 'Calligraffitti', cursive;
 font-size:5.625em;
}
header h1{
  margin-top:12.5rem;
    opacity: 0.25;
}
.sigh{
  font-size:2.5rem;
  opacity: 0.1;
}
.doctor{
  width:6.25rem;
  position: absolute;
  top:6.25rem;
  right:43.75rem;
  opacity: .5;


}
.smiley{
  width:3.75rem;
  position: absolute;
  bottom:5%;
  left:100%;

}
.heart{
  margin:auto;
}
.sad{
  width:3.125rem;
  position: absolute;
  right:100%;
}
.smile-face{
  height:3.125rem;
  width:12.5rem;
position: relative;
left:75%;
bottom:25rem;

}
.spread{
  width:12.5rem;
   filter: invert(80%);
}
.spread-love{
  position: relative;

  width:12.5rem;
  height:6.25rem;
  left:12.5rem;
  bottom:50rem;
  color:silver;
} */

.container-fluid{
padding:5% 10%;

}
/* Navigation Bar */
.navbar{
 padding:0 0 4.5rem;

}
a.nav-itemss{
  font-size:1.6rem;

}
a.nav-itemss:hover{
  background-color:#FF5858;
  color:#C8FFD4;
  border-radius: 40px;
  width:150px;
  cursor: pointer;
}
a.nav-itemss:link{
    border-radius: 40px;
      width:150px;
      cursor: pointer;
}
a.nav-itemss:target{
  background-color:#FF5858;
    color:#EDEDED;
  border-radius: 40px;
    width:150px;
    cursor: pointer;
}

a.nav-itemss:focus{
  background-color:#FF5858;
    color:#EDEDED;
  border-radius: 40px;
    width:150px;
    cursor: pointer;
}
a.nav-itemss:active{
  background-color:#FF5858;
    color:#EDEDED;
  border-radius: 40px;
    width:150px;
    cursor: pointer;/* to stop the text from moving*/
}
.navbar-brand{
 font-family: 'Calligraffitti', cursive;
 /* font-size:2.5rem; */
 font-size: 3vw;
   font-size: max(25px, min(3vw, 80px));
   font-size: clamp(25px, 3vw, 80px);
 font-weight: bold;

}
.navbar-nav{
  margin-right:30px;
}


.nav-link{
 font-weight: 300;
 position: relative;
 right:20px;
}

.heart{
  max-width: 100%;
  min-width: 15rem;
  height: auto;
    opacity: 0.7;
}

h1{
  font-family: 'Calligraffitti', cursive;
  font-size: 9vw; /* Browsers that do not support "MIN () - MAX ()" and "Clamp ()" functions will take this value.*/
    font-size: max(75px, min(9vw, 125px)); /* Browsers that do not support the "clamp ()" function will take this value. */
    font-size: clamp(50px, 9vw, 150px);


}
.name-of-brand{
  margin-right:30px;
}

.upper-star{
  opacity: 0.8;
  position:relative;
  left:15vw;
  bottom:2vw;
  width:7.5%;
  display:inline-block;
  min-width: 2rem;
}
.begin{
  margin-top:4vw;

}
.doctor{
  max-width: 25%;
  min-width: 3rem;
  height: auto;
  margin-bottom:14px;


}
.hyacinth{
  max-width: 25%;
  min-width: 3rem;
  height: auto;
margin-bottom:14px;
}
.fox{
  max-width: 25%;
  min-width: 3rem;
  height: auto;
margin-bottom:14px;
}
.circle{
  border: 1px solid black;
    background-color: #FFFFFF;
    height: 100px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    max-width: 100px;
    min-width:60px;
    background-color:#FF8DC7;

  }
.circle:hover{
  background-color: #D800A6;
}
/* hobbies */
#hobbies{
  padding:7% 15%;
  text-align: center;
}
